.about {
  border-top: 5px solid var(--color4);
  border-bottom: 5px solid var(--color4);
  color: var(--subtitle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.aboutTitle {
  font-family: "Jim Nightshade", cursive;
  font-size: 48px;
  font-weight: 100;
  margin: 2rem 0;
  color: var(--text-color);
}

.myInfo {
  text-align: center;
  font-size: 24px;
  font-weight: 200;
}

.skillsTitle {
  background-color: var(--fondo-pink);
  width: 100%;
  font-size: 24px;
  font-weight: 100;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  margin-top: 2rem; 
  color: var(--text-color);
}

.mySkills {
  margin: 2rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.list1, .list2{
  font-family: "Jim Nightshade", cursive;
  font-weight: 100;
  font-size: 28px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1vh;
}

@media (min-width: 950px) {

  .mySkills {
     display: flex;
     flex-direction: row;

  }

}